.smooth-text {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.padding-m {
  padding-bottom: 80px;
  padding-top: 80px;
}


$highlight: #5f2ff3;
